.email-sending-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 2%;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    outline: none; 
    font-size: 1.5rem;
    font-weight: 400;
    background-color: rgb(240, 238, 215);
}

.editor-container {
    min-height: 50vh;
}

.editor-container  ReactQuill{
    min-height: 30vh;
}
.ql-editor {
    min-height: 300px; 
    font-size: 1.5rem; 
    background-color: rgb(240, 238, 215);

}


.sendbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-weight: bold;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 5rem;
}

button:hover {
    background-color: #0056b3;
}
