

.email-list-container {
  max-width: calc(100vw - 300px);
  /* padding: 20px; */
  margin-left: 300px;

  
}

.email-list {
  list-style-type: none;
  padding: 0;
}

.email-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  
  transition: all 0.3s ease;
}

.email-item:hover {
  background-color: rgb(240, 238, 215);
}

.email-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin:0 2rem;
}

.sender-email,
.email-subject,
.email-time {
  margin: 0 ;
}

.sender-email strong,
.email-subject strong {
  font-weight: bold;
  color: #333;
}

.email-time {
  font-size: 0.8em;
  color: #666;
  text-align: right;
  margin: 0 2rem;
}

.email-content {
  margin: 0;
  font-size: 0.9em;
  color: #444;
  line-height: 1.6;
  margin: 0 2rem;
}
/* Add this to your CSS file */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dot.blue {
  background-color: blue;
}

.dot.white {
  background-color: white;
  border: 1px solid #1d1c1c; 
}
