

.email-list-container {
  max-width: calc(100vw - 300px);
  
  margin-left: 300px;

  
}

.email-list {
  list-style-type: none;
  padding: 0;
}

.email-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.email-item:hover {
  background-color: rgb(215, 215, 212);

}

.email-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin:0 2rem;
  /* background-color:blue; */
}

.sender-email{
  flex:1;
  font-size: 1.1rem;
}
.email-subject {
  margin: 0 ;
  flex:2;
  
   font-family: 'Montserrat', sans-serif;
}

.sender-email strong,
.email-subject strong {
  font-weight: bold;
  color: #333;
}

.delTime{
  display: flex;
  justify-content: space-between;
  margin:0 2rem;

  align-items: center;
  margin-top: 1rem;
}

.delEmailBtn{
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  background-color: red;
  color:white;
  border-radius: 5px;
  border:none;
  
}

.delEmailBtn:hover{
  background-color:rgba(238, 13, 13, 0.771);
  color:rgba(255, 255, 255, 0.838);

}

.email-time {
  font-size: 0.8em;
  color: #2b2a2a;
  text-align: right;
  margin: 0 2rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.email-content {
  margin: 0;
  font-size: 0.9em;
  color: #444;
  line-height: 1.6;
  margin: 0 2rem;
  font-family: 'Roboto', sans-serif;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dot.blue {
  background-color: blue;
}

.dot.white {
  background-color: white;
  border: 1px solid #1d1c1c; 
}
